/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 90%; /* Ajustado para que sea responsivo */
  max-width: 600px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten cuando no haya suficiente espacio */
  margin-bottom: 15px;
}

.input-group {
  flex: 1 1 45%; /* Permite que los elementos ocupen el 45% del espacio y puedan ajustarse */
  margin-right: 10px;
  margin-bottom: 10px;
}

.input-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .input-group {
    flex: 1 1 100%; /* Cambia a ocupar el 100% del ancho cuando el ancho de la pantalla es menor o igual a 600px */
    margin-right: 0;
  }
}
